{# Utilisation du squelette "base.html.twig" #}
{% extends "base.html.twig" %}

{# Définition du titre de la page #}
{% block title %}Accueil{% endblock %}

{# Remplissage du body de la page #}
{% block body %}

    {# Grille Bootstrap #}
    <div class="container-fluid">

        {# Titre h1 de la page #}
        <div class="row">
            <div class="col-12">
                <h1 class="text-center my-5">{{ site_name }}</h1>
            </div>
        </div>

        {# Contenu lorem #}
        <div class="row">
            <div class="col-12 col-md-10 mx-auto">

                <h2 class="text-center my-4">Batman Who Laughs aussi appelé Batman qui Rit</h2>

                <p class="text-center"> 	Le Batman qui rit. Un Batman d'un monde du Multivers Noir si semblable au nôtre que c'en est effrayant. Il a tué son Joker, mais a été empoisonné par une toxine que le coeur de son pire ennemi a libérée. Sur son monde, c'était le prédateur ultime. Il a massacré chaque héros et vilain... tout en riant pendant que sa terre s'enfonçait dans l'abîme. 	„
                    ~ Description du Batman qui Rit

                    Le Batman qui Rit est un super-méchant majeur du Dark Multiverse de DC Comics. Il est l'antagoniste secondaire à la fois de Nuits sombres  : Metal et Dark Nights  : Death Metal, l'antagoniste principal de la mini-série de sept numéros de The Batman Who Laughs, et l'un des personnages principaux aux côtés de Lex Luthor dans la saga Year of the Villain.

                    C'est une version "Jokerisée" de Batman qui provient du Dark Multiverse. Il est le chef d'équipe des Dark Knights et leur but était d'aider leur maître Barbatos à plonger l'ensemble du multivers dans l'obscurité totale. Cette action fait d'eux des ennemis de la Justice League. Le Batman Who Laughs tire son origine d'une autre Terre, qui lui a fait tuer sa propre version du Joker. </p>

            </div>
        </div>

        {# Affichage de l'image fixe en bandeau #}
        <div class="row my-5 batman-cover"></div>

    </div>

{% endblock %}