{# Utilisation du squelette "base.html.twig" #}
{% extends "base.html.twig" %}

{# Définition du titre de la page #}
{% block title %}Accueil{% endblock %}

{# Remplissage du body de la page #}
{% block body  %}

    {# Grille de Bootstrap #}
    <div class="container-fluid">

        {# Titre h1 de la page #}
        <div class="row">
            <div class="col-12">
                <h1 class="text-center my-5">{{ site_name }}</h1>
            </div>
        </div>

        {# Contenu lorem #}
        <div class="row">
            <div class="col-12 col-md-10 mx-auto">

                <h2 class="text-center my-4">Batman Who Laughs aussi appelé Batman Qui Rit.</h2>

                <p class="text-center"><span>Le Batman qui rit. Un Batman d'un monde du Multivers Noir si semblable au nôtre que c'en est effrayant. Il a tué son Joker, mais a été empoisonné par une toxine que le coeur de son pire ennemi a libérée. Sur son monde, c'était le prédateur ultime. Il a massacré chaque héros et vilain... tout en riant pendant que sa terre s'enfonçait dans l'abîme.</p>

            </div>
        </div>

        {# Affichage de l'image fixe en bandeau #}
        <div class="row my-5 batman-cover"></div>


    </div>

{% endblock %}