{# On crée une variable Twig "route" qui contiendra le nom de la route actuellement chargée (servira pour le menu entre autre) #}
{% set route = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {#  Affichage du titre de la page venant de la vue via le block "title", suivi du nom du site, collé à côté #}
    <title>{% block title %}{% endblock %} - Le blog de Batman qui rit</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    {# Inclusion de Bootstrap #}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    {# Inclusion Styles perso #}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {# Block pour permettre aux pages de rajouter individuellement des fichiers Css additionnels #}
    {%  block css %}{% endblock %}
</head>
<body>

{# Inclusion du menu principal du site #}

{% include 'partials/_main_navbar.html.twig' %}

{# Inclusion du contenu des pages (via le block "body") #}
{% block body %}{% endblock %}

    {# Inclusion Js Bootstrap  #}
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    {# Block pour permettre aux pagfes de rajouter individuellement des fichiers JS additionnels #}
    {% block js %}{% endblock %}
</body>
</html>